body {
    margin: 0;
    box-sizing: content-box;
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 600px;
    background: #eeeeee;
    text-align: center;
    padding: 15px;
}

.content-head {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
}

#content-header-volume {
    float: right;
}

.content-leaderboard {
    text-align: left;
}

#messages {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.button {
    box-shadow: inset 0 -3px 7px 0 #29bbff;
    background: #2dabf9 linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 12px;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

.button:hover {
    background: #0688fa linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
}

.button:active {
    position: relative;
    top: 1px;
}